<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Acts of Peace</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Acts of Peace</h1>

        <div class="well">
          <legend>Submit a new Act</legend>
          <form class="form-horizontal" action="/submit" method="post">
            <div class="form-group">
              <label for="title" class="col-md-2">Title</label>
              <div class="col-md-10">
                <input name="title" type="text" class="form-control" placeholder="Title" id="title" required>
              </div>
            </div>
            <div class="form-group">
              <label for="description" class="col-md-2">Description</label>
              <div class="col-md-10">
                <input name="description" type="text" class="form-control" placeholder="Description" id="description" required>
              </div>
            </div>
            <div class="form-group">
              <label for="focusArea" class="col-md-2">Focus Area</label>
              <div class="col-md-10">
                <select name="focusArea" class="form-control" required>
                  <option disabled selected value> -- select a focus area -- </option>
                  <option value="Education and Community Development">Education and Community Development</option>
                  <option value="Protecting the Environment">Protecting the Environment</option>
                  <option value="Alleviating Extreme Poverty">Alleviating Extreme Poverty</option>
                  <option value="Global Health and Wellness">Global Health and Wellness</option>
                  <option value="Non-proliferation & Disarmament">Non-proliferation & Disarmament</option>
                  <option value="Human Rights For All">Human Rights For All</option>
                  <option value="Ending Racism & Hate">Ending Racism & Hate</option>
                  <option value="Advancing Women and Children">Advancing Women and Children</option>
                  <option value="Clean Water For Everyone">Clean Water For Everyone</option>
                  <option value="Conflict Resolution">Conflict Resolution</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-2 col-xs-6 pull-right">
                <button type="submit" class="btn btn-primary form-control">Submit</button>
              </div>
            </div>
          </form>
        </div> <!-- end form row -->
      </div> <!-- end jumbotron -->

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h3>Recent Acts</h3>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Focus Area</th>
                </tr>
              </thead>
              <tbody>
              {{range .}}
                <tr>
                  <td class="col-xs-2">{{.Title}}</td>
                  <td>{{.Description}}</td>
                  <td class="col-xs-3">{{.FocusArea}}
                </tr>
              {{end}}
              </tbody>
            </table>
          </div>
        </div>
      </div> <!-- end table row -->
    </div> <!-- end container -->
  </body>
</html>
